flet==0.27.6
tushare>=1.4.24
pandas>=2.2.0
aiosqlite>=0.22.1
plotly>=6.5.1
requests>=2.32.5
cryptography>=42.0.0

akshare>=1.15.0
openai>=1.10.0
aiohttp>=3.9.0


readerwriterlock>=1.0.9
pandas_market_calendars>=4.0.0
sqlparse>=0.4.4
